* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

/*网站图标*/
.web-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../images/haitun.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

/*通用简单阴影设置*/
.shadow-top {
    box-shadow: 0 -2px 0 #272822;
}

.shadow-bottom {
    box-shadow: 0 2px 0 #272822;
}

.shadow-left {
    box-shadow: -2px 0 0 #272822;
}

.shadow-right {
    box-shadow: 2px 0 0 #272822;
}

/*页面公用头部*/
header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 48px;
    font-size: 18px;
    background-color: #F8F8F8;
    box-shadow: 0 1px 0 #74756e;
}

header > ul {
    list-style-type: none;
}

header > ul > li {
    padding: 2px 2px;
    float: left;
    display: inline-block;
    width: 60px;
    height: 48px;
    margin-left: 5px;
}

header > ul > li:nth-of-type(2) {
    width: 400px;
}

header > ul > li:nth-of-type(2) > form {
    padding-top: 4px;
    width: 100%;
}

header > ul > li:nth-of-type(2) > form > input[type="text"] {
    float: left;
    width: 80%;
    text-blink: none;
    outline: none;
    box-sizing: border-box;
    height: 34px;
    font: 16px/18px arial;
    line-height: 22px \9;
    border: 1px solid #4b4d5e;
}

header > ul > li:nth-of-type(2) > form > input[type="text"]:hover {
    border: 1px solid #d79046;
}

header > ul > li:nth-of-type(2) > form > button {
    float: left;
    width: 15%;
    box-sizing: border-box;
    cursor: pointer;
    height: 34px;
    color: #fff;
    letter-spacing: 1px;
    background: #3385ff;
    border-bottom: 1px solid #2d78f4;
    outline: medium;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: none;
}

header > ul > li:nth-of-type(2) > form > button:hover {
    background: #3247ff;
}
header > ul > li:nth-of-type(2) > form > button:active{
    font-size:16px;
}
header > ul > li:nth-of-type(3){
    margin-top:5px;
}
header > ul > li:nth-of-type(3) > a{
    font-size:1.2rem;
}

/*下拉菜单*/
.pull-down-menu {
    width:100px;
    height:auto;
    display: block;
    position:absolute;
}


/*页面公用底部*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #F8F8F8;
    box-shadow: 0 -1px 0 #74756e;
}

footer > ul{
    list-style-type: none;
    width:50%;
    height:90%;
    /*border:1px solid red;*/
    margin: 0 auto;
}

#contract1{
    display: none;
    position: absolute;
    right:20px;
    bottom:30px;
    width:126px;
    height: 135px;
    padding: 3px 3px;
    border-radius: 6px 6px 6px 6px;
    background-color: #7e7175;
    box-shadow: 2px 2px 2px #7C7E7E;

}

#contract1 > span{
    position: absolute;

}
.contract{
    width:120px;
    height:120px;
    background-size:120px 120px;
    background-repeat: no-repeat;
    margin:0 auto;
}

.contract-wx-money{
    background-image: url(../images/wx-money.png);
}
.contract-zfb-money{
    background-image: url(../images/zfb-money.jpg);
}

.contract-weixin{
    background-image: url(../images/qrcode-weixin.png);
}
.contract-weixin-money{
    background-image: url(../images/qrcode-weixin-money.png);
}
footer > ul{
    list-style: none;
}
footer > ul > li:nth-of-type(3) > a:hover ~ #contract1 {
    display: block;
}

footer > ul > li:nth-of-type(3){
    position: relative;
}

#contract1 > ul{
    list-style-type: none;
}
#contract1 > ul > li{
    float: left;
    margin-top:5px;
}

footer > ul > li{
    text-align: center;
    margin:2px 0 1px 2px;
    font-size:14px;
    width:calc(100% / 6 - 3px);
    height:calc(100% - 3px);
    float: left;
    /*border:1px solid blue;*/
}

#contract-dialog{
    width:100%;
    height:100%;
}

#contract-dialog > ul{
    list-style-type: none;
    /*margin-left:20px;*/
    width:220px;
    margin:0 auto;
}
#contract-dialog > ul > li{
    float: left;
    width:200px;
    height:242px;
    background-size:200px 240px;
    background-repeat: no-repeat;
    margin-left:10px;
}



/*媒体查询*/

/*iphone6 plus*/
@media screen and (max-width: 414px) {
    header > ul > li:nth-of-type(2) {
        width: 200px;
    }
    header > ul > li:nth-of-type(2) > form > button {
        font-size:10px;
    }
}