<% include header.html %>

<header>
    <ul>
        <li><span class="web-icon"></span></li>
        <li>
            <form action="" id="form-search">
                <input type="text" placeholder="搜一搜就知道" value="">
                <button>搜索</button>
            </form>

        </li>
    </ul>
</header>

<script src="/js/require.js"></script>
<script type="text/javascript">
    require(["/js/config.js"], function () {
        require(['/js/common.js']);
    });
</script>
<% include footer.html %>