*{
	margin:0;
	padding:0;
	border:0;
}
body{
	font-family:PingFangSC-Regular,Verdana,Arial,'微软雅黑','宋体';
	font-size:14px;
}

strong{
	font-family:'微软雅黑';
	font-size:18px;
	color:#3f3f3f;
	font-weight:800;
}

h2, h3, h4, h5, h6, em {
    font-weight: bold;
}

//------------------------------header-----------------------------------
div#wrapper{
	padding:0;
	margin:0;
	width:100%;
	height:100px;
	background-color:#ccc;
}

div#header_index{
	margin:0 0 0 12px;
	width:96%;
	height:100px;
	display: block;	
	background-color:#fdfcf8;
}

div#weblink{
	display:block;
	float:left;
	width:40%;
	height:100px;
	background : transparent url(../imags/bg.png) 0 -150px no-repeat;
}
div#weblink:hover{
	cursor:pointer;
	display:block;
	float:left;
	width:40%;
	height:100px;
	background : transparent url(../imags/bg.png) 0 -250px no-repeat;
}

div#searchui{
	padding:0;
	width:30%;
	height:100px;
	float:right;
	background-color:transparent;
}

div#searchui #search-content{
	padding:0;
	margin:30px 0;
	width:60%;
	height:24px;
	line-height: 24px;
	outline: none;
	border:1px solid #ccc;
	float:left;
}
.search-btn{
	padding:0;
	margin-top:30px;
	float:left;
	margin-left:2px;
	width:10%;
	height:26px;
	border:none;
	background-color:#AE4141;
	color:#fff;
}
.search-btn:hover{
	cursor: pointer;
	border:none;
	color:#fff;
}

#search-content:focus{
	border:1px solid blue;
}


/***---------------------main body-----------------------------*****/
#main-body{
	display:block;
	padding:0;
	border:1px solid #ccc;
	margin:0 20px;
	width:98%;
	height:auto;
}

#main-body .menu{
	width:100%;
	height:50px;
	background-color:#E8E7E3;
}
#main-body #content{
	width:100%;
	height:1800px;
	background-color:#FCFDF8;
}
#main-body #content .leftmenu{
	float:left;
	width:15%;
	height:97%;
	border:1px solid #ccc;
	border-left: none;
	border-top:none;
	background-color:#FCFDF8;
	overflow: hidden;
}
#main-body #content #maincontent{
	float:left;
	width:70%;
	height:97%;
	border:none;
	background-color:#FCFDF8;
}
#main-body #content #siderbar{
	float:right;
	width:14%;
	height:97%;
	border:1px solid #ccc;
	border-top:none;
	background-color:#FCFDF8;
}
#main-body #content #footer{
	text-align:center;
	display:block;
	float:left;
	width:100%;
	height:3%;
	clear: both;
    background-color: #E8E7E3;
    color:#777777;
    font-family: PingFangSC-Regular, '微软雅黑', Verdana, Arial, '宋体';
}
#last{
	color:#777777;
	width:100%;
	height:60px;
	background-color:transparent;
	display:block;
	font-family: PingFangSC-Regular, '微软雅黑', Verdana, Arial, '宋体';
	text-align:center;
}
#last p{
	margin-top:10px;
}

#main-body .menu ul{
	list-style-type: none;
}
#main-body .menu ul li{
	display:inline-block;
	float:left;
	width:150px;
	height:40px;
	padding-top:10px;
	font-size:20px;
	line-height:20px;
	text-align: center;
	background-color:#E8E7E3;
}
#main-body .menu ul li a{
	text-decoration: none;
	color:#777777;
}
#main-body .menu ul li.active{
	background-color:#3F3F3F;
}
#main-body .menu ul li.active a{
	color:#fff;
}
#main-body .menu ul li a:hover{
	color:#FFFFFF;
}
#main-body .menu ul li:hover{
	background-color:#3F3F3F;
	color:#fff;
	cursor:pointer;
}

//--------------------leftmenu--------------------------//content


#main-body #content .leftmenu h2{
	font-size: 14px;
    margin: 0;
    padding: 10px 0 5px 10px;
    color: #000;
    display: block;
    border-bottom: 0px solid #ddd;
    font-family: '微软雅黑';
}
#main-body #content.leftmenu ul{
	list-style-type:none;
}
#main-body #content .leftmenu ul li{
	display:inline-block;
	float:left;
	width:98%;
	height:26px;
	font-size:16px;
	line-height:16px;
	text-align:left;
	padding:5px 0 5px 5px;
}
#main-body #content .leftmenu ul li:hover{
	cursor:pointer;
	background-color:#AAAAAA;
	color:#fff;
}
#main-body #content .leftmenu ul li a{
	text-decoration:none;
	color:#777777;
	width:196px;
	height:26px;
}
#main-body #content .leftmenu ul li a:hover{
	color:#fff;
}

#main-body #content .leftmenu h2#link-about{
	margin-top: 20px;
    margin-bottom: 15px;
}
#main-body #content .leftmenu h2#link-about #link-help{
	font-size: 14px;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    color: #000;
    display: block;
}
#main-body #content .leftmenu h2#link-about a,
#main-body #content .leftmenu h2#link-help a {
    display: inline;
    padding: 0;
    font-size: 14px;
    border-bottom: 0px solid #ddd;
    text-decoration: none;
    color: #0479A7;
}

#main-body #content .leftmenu h2#link-about a:hover,
#main-body #content .leftmenu h2#link-help a:hover{
	text-decoration: underline;
    color: #000;
    background: transparent;
}

//-----------------------中间主体部分------------------------------
