*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size:12px;
}
.notice{
    width:298px;
    height:98px;
    border:1px solid #eee;
    overflow: hidden;
    margin:10px auto;
}

.notice-tit{
    height:27px;
    position:relative;
    background: #f7f7f7;
}
.notice-tit ul{
    position:absolute;
    width:301px;
    left:-1px;
}
.notice-tit li{
    padding: 0 1px;
    display: block;
    width:58px;
    height:26px;
    background: #f7f7f7;
    float: left;
    overflow: hidden;
    line-height: 26px;
    border-bottom:1px solid #eeeeee;
    text-align: center;
}

.notice-tit li.select{
    background: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-left: 1px solid #eee;
    border-right:1px solid #eee;
    padding: 0;
    font-weight: bolder;
}
.notice li a:link,
.notice li a:visited{
    text-decoration: none;
    color:#000000;
}
.notice li a:hover{
    color: #f90;;
}

.notice-con .mod{
    margin:10px 6px;
    text-align: center;
}

.notice-con .mod li{
    float: left;
    width:143px;
    height:25px;
    overflow: hidden;
}
